apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
- target:
    kind: Deployment
    name: frontend
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/env/-
      value:
        name: BASE_URL
        value: /shop
    - op: replace
      path: /spec/template/spec/containers/0/livenessProbe/httpGet/path
      value: /shop/_healthz
    - op: replace
      path: /spec/template/spec/containers/0/readinessProbe/httpGet/path
      value: /shop/_healthz
- target:
    kind: Deployment
    name: loadgenerator
  patch: |-
    - op: replace
      path: /spec/template/spec/containers/0/env/0/value
      value: "frontend:80/shop"
